extends /templates/_layouts/main

block append pageVariables
    - var moduleTitle = "Iframes test"

block body
    div(style="padding: 40px; padding-bottom: 0px;")
        .c-text
            h1 CSS foundations equivalence
            p This page shows the reset example page from <a href="/examples/blog/1970/01/01/foundations.html">Foundations</a> and the same page using <code>struct.css</code> (more specifically, its foundations + debug parts). Both pages must be identical.
    .o-container
        .o-container-vertical
            style.
              .wrrrap {
                width: 1028px;
                margin: 0 auto;
              }
              iframe {
                border: 2px solid #DDD;
              }
            .wrrrap
              iframe(width=964, height=104, src="/examples/blog/1970/01/01/foundations-reset.html")
            .wrrrap
              iframe(width=964, height=104, src="/examples/blog/1970/01/01/foundations-struct-reset.html")
