doctype html
html(dir="ltr", lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/struct/struct.css")
    body
        div
            .u-placeholder-l.bg-dimensions

        .o-container
            .u-placeholder-l.bg-dimensions

        .o-container.o-container--large
            .u-placeholder-l.bg-dimensions
 
        .o-container.o-container--medium
            .u-placeholder-l.bg-dimensions

        .o-container.o-container--small
            .u-placeholder-l.bg-dimensions

        .o-container.o-container--large.o-container--eccentric-large
            .u-placeholder-l.bg-dimensions

        .o-container.o-container--medium.o-container--eccentric-medium
            .u-placeholder-l.bg-dimensions

        .o-container.o-container--small.o-container--eccentric-small
            .u-placeholder-l.bg-dimensions

        .o-container.o-container--large.o-container--left
            .u-placeholder-l.bg-dimensions

        .o-container.o-container--medium.o-container--left
            .u-placeholder-l.bg-dimensions

        .o-container.o-container--small.o-container--left
            .u-placeholder-l.bg-dimensions
