extends /templates/_layouts/page

block append pageVariables
    - var moduleTitle = "Technicalities"
    - var bodyClass="o-flex o-flex--vertical u-maximize-height"

block content
    .o-container.o-container--medium.o-container--left
        article.c-blog-article
            .c-blog-article__header
                h1.c-d-h1 Technicalities
                p January 01, 1970

            .c-blog-article__content
                .c-content
                    p In the <a href="foundations.html">previous part</a>, we have layed down some foundations upon which we can finally write our own CSS: outlines, reset, box-sizing, and rem definition. In this part we talk about some technical details used to write CSS: how we assemble a single CSS file that can be distributed out of smaller files, and how we name those files and the rules they contain.

                    h1 Using CSS files

                    h1 BEM and ITCSS

                    p o-container, o-container--small

                    h1 Placeholders
