extends /templates/_layouts/page

block append pageVariables
    - var moduleTitle = "Home"
    - var bodyClass="o-flex o-flex--vertical u-maximize-height"

block content
    .o-container.o-container--flex
        .c-design-system-home-hero.u-padding-vertical-xl
            .o-grid
                .o-grid-col-bp3-6
                    .o-flex.o-flex.o-flex--vertical-center(style="height: 100%;")
                        .c-content
                            h1 Struct — a design system for Hypered projects
                            p The Struct design system is currently split among various places. The main work is at <a href="https://hypered.design">hypered.design</a>. There you can find the Next.js -based debut of the design system. There is also an attempt at a different approach using ITCSS/BEM. Here, you can find a modified ITCSS/BEM design system (originally created by Mono for Smart) that should converge towards the other work.
                .o-grid-col-bp3-6
