/* ==========================================================================
  c-bordered-list-horizontal
   ========================================================================== */

// TODO This one is not bordered, so doesn't match the filename.
.c-list-horizontal {

  display: flex;

  li {
    padding: .4rem 0.84rem;
    &:first-child {
      padding-left: 0rem;
    }
    a, span {
      display: block;
    }
  }
}

.c-bordered-list-horizontal {

  display: flex;

  li {
    border-right: 0.1rem solid $color-gray-200;
    &:last-child {
      border: none;
    }
    a, span {
      display: block;
      padding: .4rem 0.8rem;
    }
  }
}

.c-bordered-list-horizontal--muted {
  a {
    color: $color-semantic-muted-text;
  }
}
