/* ==========================================================================
  Component: hr
  ---
  A horizontal ruler.
   ========================================================================== */

.c-hr {
  margin: 3.2rem 0;
  border: none;
  border-bottom: 1px solid $color-gray-150;
}

.c-hr-short {
  background: black;
  width: 12.8rem;
  border: none;
  height: .2rem;
  margin: 3.4rem 0;
}
