/* ==========================================================================
  c-side-menu
  ========================================================================== */

.c-side-menu {
  background-color: #f4f4f4;
  padding: 1.6rem;
}

.c-side-menu + .c-side-menu {
  margin-top: 2.4rem;
}

.c-side-menu__item + .c-side-menu__item {
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.c-side-menu__link {
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  color: black;
  align-items: center;
  display: flex;
  position: relative;

  &:hover,
  &:focus {
    background: $color-gray-25;
  }

  &:focus {
    z-index: 2;
  }
}

.c-side-menu__item--active {
  > .c-side-menu__link {
    background: #efefef;
    color: black;

    &:before {
      content: '→';
      position: absolute;
      left: 0.6rem;
      top: 1.2rem;
    }
  }
}
