/* ==========================================================================
  c-user-navigation
   ========================================================================== */

.c-user-navigation {
  display: flex;
  align-items: center;
  padding: .4rem 1.6rem .4rem 2.8rem;
  color: $color-semantic-body-text;
  position: relative;
  appearance: none;
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;

  .c-avatar {
    margin-right: 0.4rem;
  }

  &:before {
    pointer-events: none;
    content: ' ';
    position: absolute;
    left: 1.4rem;
    top: 1.8rem;
    width: 0;
    height: 0;
    border-width: 1rem;
    border: 0.5rem solid black;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }

  &:hover,
  &:active,
  &:focus {
    background: $color-gray-25;
  }
}
