extends /templates/_layouts/app

block append pageVariables
    - var moduleTitle = "Main header + toolbar"
    - var fullScroll = true

block content
    .c-navbar.c-navbar--bordered-bottom
        .c-toolbar
            .c-toolbar__left
                .c-toolbar__item
                    a.c-button.c-button--icon.c-button--borderless(href="/examples/templates.html")
                        .c-button__content
                            +icon('arrow-left')
                            .u-sr-accessible Back
                .c-toolbar__item
                        h2.c-toolbar__title Invoice data

    .c-app-layout-inner
        .c-app-layout-inner__sidebar
            img(src="/images/qrcode.png")
            ul.c-bordered-list
                li
                    span Amount: 10,00EUR
                li
                    span IBAN: XX00 0000 0000 0000
                li
                    span Ref: +++000/0000/00000+++

        .c-app-layout-inner__content
            .u-scroll-wrapper
                .u-scroll-wrapper-body
                    .o-container.o-container--large
                        object(data="/images/example-invoice.pdf#pagemode=none", type="application/pdf", width="800em", height="500em")
                          p No browser support: <a href="/images/example-invoice.pdf">download the PDF</a>.
