extends /templates/_layouts/default

block append pageVariables
    - var moduleTitle = "Main header + toolbar"

block content
    .c-navbar.c-navbar--bordered-bottom
        .c-toolbar
            .c-toolbar__left
                .c-toolbar__item
                    a.c-button.c-button--icon.c-button--borderless(href="#")
                        .c-button__content
                            +icon('arrow-left')
                            .u-sr-accessible Back
                .c-toolbar__item
                        h2.c-toolbar__title Toolbar title

            .c-toolbar__right
                .c-toolbar__item
                    .c-button-toolbar
                        +c-button({}) Cancel
                        +c-button({skin: 'primary', icon: 'save'}) Save
    .c-app-layout-inner
        .c-app-layout-inner__sidebar
            ul.c-side-menu
                li.c-side-menu__item.c-side-menu__item--active
                    a.c-side-menu__link(href="#") Quotes &amp; invoices
                li.c-side-menu__item
                    a.c-side-menu__link(href="#") Funding
                li.c-side-menu__item
                    a.c-side-menu__link(href="#") Expenses

        .c-app-layout-inner__content
            .u-scroll-wrapper
                .u-scroll-wrapper-body
                    .o-container.o-container--large
                        .o-container-vertical
                        object(data="/images/example-invoice.pdf", type="application/pdf", width="800em", height="500em")
                          p No browser support: <a href="/images/example-invoice.pdf">download the PDF</a>.
