extends /templates/_layouts/master

block append pageVariables
    - var moduleTitle = "Main header"
    - var bodyClass="o-flex o-flex--vertical u-maximize-height"

block body
    header#header
        .o-container
            include /templates/_includes/main-header--page
