.c-navbar.c-navbar--bordered-bottom.c-navbar--main
    .c-toolbar
        .c-toolbar__left
            .c-toolbar__item
                +c-brand({size: "small"})

        .c-toolbar__right
            .c-toolbar__item


                // Nav for desktop
                nav.c-design-system-nav
                    +c-button({ layout: 'icon-only', icon: 'menu', skin: 'borderless'})(id="c-design-system-nav-open" class="c-design-system-nav-open") Open menu
                    +c-button({ layout: 'icon-only', icon: 'close', skin: 'borderless'})(id="c-design-system-nav-close" class="c-design-system-nav-close") Close menu

                    .c-design-system-nav__mobile

                        ul
                            li
                                span Examples
                                ul
                                    li
                                        a(href="/examples/templates.html") Example templates
                                    li
                                        a(href="/prototypes/index.html") Prototypes
                                    li
                                        a(href="/examples/design-tests.html") Tests

                            li
                                a(href="/development/component-documentation.html") Components
                            li
                                a(href="/blog/index.html") Blog
                            li
                                a(href="/changelog.html") Changelog

                    .c-design-system-nav__desktop
                        ul.c-pill-navigation
                            li.c-pill-navigation__item
                                a(href="/changelog.html") Documentation
                            li.c-pill-navigation__item.c-pill-navigation__item--has-child-menu
                                button(type="button" data-menu="menu2" data-menu-samewidth="true") Playground
                                ul.c-menu.c-menu--large#menu2
                                    li.c-menu__item
                                        a.c-menu__label(href="#") Compute salaries
                                    li.c-menu__item
                                        a.c-menu__label(href="#") Convert PDF invoices
                                    li.c-menu__item
                                        a.c-menu__label(href="#") View CODA files
