.c-navbar.c-navbar--page
    .c-toolbar
        .c-toolbar__left
            .c-toolbar__item
                ul.c-list-horizontal
                    li
                        a(href="#") noteed.com
                    li
                        a(href="#") blog
                    li
                        a(href="#") notes
                    li
                        a(href="#") nix-notes
                    li
                        a(href="#") not-os
                    li
                        a(href="#") videos
