.c-navbar.c-navbar--bordered-bottom.c-navbar--main
    .c-toolbar
        .c-toolbar__left
            .c-toolbar__item
                +c-brand({size: "small"})

        .c-toolbar__right
            .c-toolbar__item


                // Nav for desktop
                nav.c-design-system-nav
                    +c-button({ layout: 'icon-only', icon: 'menu', skin: 'borderless'})(id="c-design-system-nav-open" class="c-design-system-nav-open") Open menu
                    +c-button({ layout: 'icon-only', icon: 'close', skin: 'borderless'})(id="c-design-system-nav-close" class="c-design-system-nav-close") Close menu

                    .c-design-system-nav__mobile

                        ul
                            li
                                a(href="/components/index.html") Components
                            li
                                span Examples
                                ul
                                    li
                                        a(href="/examples/index.html") Example templates
                                    li
                                        a(href="/prototypes/index.html") Prototypes
                                    li
                                        a(href="/examples/design-tests.html") Tests

                    .c-design-system-nav__desktop
                        ul.c-pill-navigation
                            li.c-pill-navigation__item
                                a(href="/components/index.html") Components
                            li.c-pill-navigation__item.c-pill-navigation__item--has-child-menu
                                // @todo now we are using menu.js, which is really meant for dropdowns. Make more accessible with aria-haspopup="true" aria-expanded="false", switch with JS?
                                button(type="button" data-menu="menu3" data-menu-samewidth="true") Templates
                                ul.c-menu.c-menu--large#menu3
                                    li.c-menu__item
                                        a.c-menu__label(href="/examples/index.html") Example templates
                                    li.c-menu__item
                                        a.c-menu__label(href="/prototypes/index.html") Prototypes
