.o-container
    .o-container-vertical
        hr.c-hr-short
        .o-grid
            .o-grid-col-bp3-5
               h4.c-h4 Refli
               ul
                   li
                       a(href="/about.html") About
                   li
                       a(href="/changelog.html") Changelog
                   li
                       a(href="/contact.html") Contact
                   li
                       a(href="/disclaimer.html") Disclaimer
                   li
                       a(href="/documentation.html") Documentation
            .o-grid-col-bp3-7
                .o-grid
                    .o-grid-col-bp3-6
                           h4.c-h4 Social security contributions
                           ul
                               li
                                   a(href="#") Personal contributions
                               li
                                   a(href="#") Employment bonus
                               li
                                   a(href="#") Special contribution
                    .o-grid-col-bp3-6
                       h4.c-h4 Professional tax withholding
                       ul
                           li
                               a(href="#") Fixed professional fees
                           li
                               a(href="#") Basic scale
                           li
                               a(href="#") Reductions for dependant children
                       h4.c-h4.u-spacer-top-l Rounding method
                       ul
                           li
                               a(href="#") Rounding
                           li
                               a(href="#") Professional tax withholding details
        hr.c-hr-short
        span © Hypered SRL, 2023.
