extends /templates/_layouts/main

block append pageVariables
    - var moduleTitle = "Home"
    - var bodyClass="o-flex o-flex--vertical u-maximize-height"

block body
    header#header
        .o-container.o-container--large.o-container--eccentric
            include /templates/_includes/main-header--simple

    main
        block content

    footer#footer
        include /templates/_includes/page-footer--simple
