extends /templates/_layouts/main

block append pageVariables
    - var moduleTitle = "Home"
    - var bodyClass="o-flex o-flex--vertical u-maximize-height"

block body
    header#header
        .o-container.o-container--large.o-container--eccentric
            include /templates/_includes/main-header--simple

    main
        block content

    footer#footer
        .o-container-vertical
            .o-container.o-container--large.o-container--eccentric
                hr.c-hr
                ul.c-bordered-list-horizontal.c-bordered-list-horizontal--muted
                     li: a(href="https://github.com/smartcoop/design")
                         .o-flex
                             .u-spacer-right-s
                                 +icon('github')
                             | Share feedback on GitHub
