// These are some rules to show outlines.
//
// You can link the struct-debug.css stylesheet in a page instead of struct.css
// if you need them.
//
// These debugging rules (together with foundations.scss) correspond to what is
// used in foundations.pug.

* {
  outline: dashed blue;
}

html {
  outline: dashed red;
}

body {
  outline: dashed pink;
}

div {
  outline: solid lightgrey;
}
