extends /templates/_layouts/page

block append pageVariables
    - var moduleTitle = "Static binaries"
    - var bodyClass="o-flex o-flex--vertical u-maximize-height"

block content
    .o-container.o-container--medium.o-container--left
        include /templates/_includes/static-binaries
